@import '../../partials/variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  width: 800px;
  gap: 5px;
  margin: 50px auto;
  &__input {
    background-color: #303135;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
  }
  &__button {
    background-color: #303135;
    color: $primary;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: $primary;
      color: $primary-variant;
    }
  }
}