@import '../../partials/variables.scss';


.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $background;
  padding: 1em;
  box-shadow: 0 0 10px 1px $primary; 
  img {
    border: 1px solid $primary;
    width: 150px;
    height: auto;
  }
}